<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Handgun Classes - A website template</title>
	<link href="styles/main.css" rel="stylesheet" type="text/css" />

	<script src="scripts/mootools-1.2.1-core.js" type="text/javascript"></script>
	<script src="scripts/main.js" type="text/javascript"></script>
</head>
<body>
	<div class="topNav">
		<div class="topNavWrapper">
			<a href="index.html">Home</a>
			<a href="#">About</a>
			<a href="#">Contact</a>
		</div>
	</div>
	<div class="wrapper">
		<a href="index.html">
			<img src="images/logo.jpg" alt="logo" />
		</a>
		
		<div class="navigation">
			<div class="navItem">
				<h3><a href="javascript: toggleMenu('menu1')"><img src="images/CHLInformation.jpg" alt="CHL Information" title="" /></a></h3>
				<div id="menu1" class="menuItemsContainer">
					<div class="menuItems">
						<a href="classes.html">Class Info</a>
						<a href="#">Instructions</a>
						<a href="#">FAQs</a>
						<a href="#">Register Now</a>
					</div>
				</div>
			</div>
			<div class="navItem">
				<h3><a href="javascript: toggleMenu('menu2')"><img src="images/ExpertHelp.jpg" alt="Expert Help" title="" /></a></h3>
				<div id="menu2" class="menuItemsContainer">
					<div class="menuItems">
						<a href="#">Carrying Laws</a>
						<a href="#">Pistols</a>
						<a href="#">Holsters</a>
						<a href="#">Self Defence</a>
					</div>
				</div>
			</div>
			<div class="navItem">
				<h3><a href="javascript: toggleMenu('menu3')"><img src="images/Extras.jpg" alt="Extras" title="" /></a></h3>
				<div id="menu3" class="menuItemsContainer">
					<div class="menuItems">
						<a href="#">Wallpaper</a>
						<a href="#">Gift Card</a>
					</div>
				</div>
			</div>
			<div class="navItem">
				<h3><a href="javascript: toggleMenu('menu4')"><img src="images/RegisterNow.jpg" alt="Register Now" title="" /></a></h3>
				<div id="menu4" class="menuItemsContainer">
					<div class="menuItems">
						<a href="#">Newsletter</a>
						<a href="#">Gun Training</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
		<div class="contentOuter">
			<div class="rounded_tr"></div>
			<div class="rounded_tl"></div>
			<div class="content">
				<div class="contentSideBox">
					<h3><a href="#"><img src="images/RegisterNow.gif" alt="Register Now" /></a></h3>
					<br />
					<div style="text-align:left;">
						Advanced handgun training classes are available on the following dates:
					</div>
					<br />
					<table style="width: 200px; margin: 0 auto;">
						<tr>
							<td>Nov 16</td>
							<td>Dec 3</td>
						</tr>
						<tr>
							<td>Nov 21</td>
							<td>Dec 8</td>
						</tr>
						<tr>
							<td>Nov 28</td>
							<td>Dec 11</td>
						</tr>
					</table>
					<br />
					<div style="text-align:left;">
						Feel free to bring your own gun, or one will be provided.
					</div>
				</div>
				
				<div>
					<div style="margin: 30px 40px 30px;">
						<h2 style="margin-bottom: 40px;"><img src="images/AdvancedHandgunClasses.jpg" alt="Advanced Handgun Classes" /></h2>
						<img src="images/gun.gif" alt="gun" style="margin-left: 40px;" />
					</div>
				</div>
			</div>
			<div class="rounded_br"></div>
			<div class="rounded_bl"></div>
		</div>
		
		<div class="bottomLeftBox">
			<div class="rounded_tr"></div>
			<div class="rounded_tl"></div>
			<div class="bottomContent">
				<h3><img src="images/JoinMailingList.jpg" alt="Join Our Mailing List" /></h3>
				<table>
					<tr>
						<td>Name:</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input type="text" /></td>
					</tr>
				</table>
				<a class="btnHole" href="#">Sign Up</a>
			</div>
			<div class="rounded_br"></div>
			<div class="rounded_bl"></div>
		</div>
		
		<div class="bottomCenterBox">
			<div class="rounded_tr"></div>
			<div class="rounded_tl"></div>
			<div class="bottomContent">
				<h3><img src="images/WeaponsTraining.jpg" alt="Weapons Training" /></h3>
				<img src="images/gun2.gif" alt="gun" />
				<div>
					Now available for<br />$20.00/lesson!
				</div>
			</div>
			<div class="rounded_br"></div>
			<div class="rounded_bl"></div>
		</div>
		
		<div class="bottomRightBox">
			<div class="rounded_tr"></div>
			<div class="rounded_tl"></div>
			<div class="bottomContent">
				<h3><img src="images/LatestNews.jpg" alt="Latest News" /></h3>
				<p>* Lorem ipsum dolor sit amet, consectetuer cras amet.</p>
				<p>* Vestibulum enim erat, porta a, mollis amet.</p>
			</div>
			<div class="rounded_br"></div>
			<div class="rounded_bl"></div>
		</div>
		
		<div class="footer">
			Handgun Classes Inc. &copy; 2008
		</div>
	</div>
</body>
</html>
